@import '../../../assests/scss/variables.scss';
%inputCommons {
  background: transparent;
  border: 0;
  border-bottom: 2px solid $black;
  padding: 4px 0;
  color: $base;
  word-spacing: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 2% 0;
  &::placeholder {
    color: $base;
  }
}
@mixin inputStyles($widthPercent, $fontSize: 1rem, $fontWeight: 400) {
  width: $widthPercent;
  font-size: $fontSize;
  font-weight: $fontWeight;
}
.recipe__basic {
  height: 90%;
  width: 100%;
  .recipe__title,
  .recipe__writer {
    @extend %inputCommons;
  }
  .recipe__title {
    $inputStyles: (
      widthPercent: 60%,
      fontSize: 1.2rem,
      fontWeight: 600
    );
    @include inputStyles($inputStyles...);
  }
  .recipe__writer {
    $inputStyles: (
      widthPercent: 40%,
      fontSize: 1.2rem,
      fontWeight: 600
    );
    @include inputStyles($inputStyles...);
  }
}
