@import '../../../assets/scss/variables';
.recipe__basic {
  height: 80%;
  width: 100%;
  .press__Enter {
    margin: 2% 0;
    border-bottom: 2px solid $black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 4px 0;
    width: 10%;
    display: inline-block;
    i {
      font-size: 1.5rem;
      transform: rotate(90deg) translateY(-15px);
      color: $base;
    }
  }
  .input__wrapper {
    height: 50%;
  }
  .tags {
    padding: 2%;
    height: 50%;
    transition: all 0.5s ease-in-out;
    .tag {
      text-transform: lowercase;
      font-size: 0.9rem;
      letter-spacing: 2px;
      border-radius: 30px;
      background: rgba(214, 0, 60, 0.85);
      color: #fff;
      padding: 5px 14px;
      margin: 0px 12px 12px 0;
      display: inline-block;
      cursor: pointer;
      &:hover {
        transform: translateY(-3px);
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .tag {
    i {
      font-size: 0.8rem;
      color: #fff;
      margin-right: 2px;
      transition: all 0.2s ease-in-out;
    }
  }
}
