@import './assests/scss/variables';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $primary-text;
  font: 400 'Lato', sans-serif;
  box-sizing: border-box;
  background: $primary-background;
}
